@import './abstracts/variables';
@import './blocks/board';
@import './blocks/counter';
@import './blocks/options';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  color: #EAEAEA;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background: #232d3f;
}
