@import './abstracts/variables';
@import './blocks/board.scss';
@import './blocks/counter.scss';
@import './blocks/options.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
}
