@import '../fonts/fonts';
@import './abstracts/variables';
@import './blocks/board';
@import './blocks/counter';
@import './blocks/options';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'LomoWebPixel LT Std 4', monospace;
  color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
}

select,
input,
textarea {
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  background: #232d3f;
}
