.counter {
  width: 250px;
  height: 64px;
  margin-top: 60px;
  font-size: 32px;
  transform: rotate(-9deg);
  

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    color: #232d3f;
    background-color: #F4CE14;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(26, 26, 26, 0.941);
  }

  img {
    transform: translate(110px, -70px);
  }
}
