.counter {
  transform: rotate(-9deg);

  width: 250px;
  height: 64px;
  margin-top: 60px;

  font-size: 32px;
  

  &__title {
    font-family: monospace;
    color: #232d3f;
    text-align: center;
    text-transform: uppercase;

    background-color: #F4CE14;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgb(26 26 26 / 94.1%);
  }

  img {
    transform: translate(110px, -70px);
  }
}
