.counter {
  width: 248px;
  height: 64px;
  margin: 15px;

  text-align: center;
  text-transform: uppercase;

  border: 3px solid;
  border-radius: 30px;
  background-color: #dadada;

  font-size: 42px;
}
