.options {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  margin: 10px;

  &__label {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 24px;
  }

  &__text {
    width: 50px;
    height: 50px;

    font-size: 44px;
    color: #eee;
    text-align: center;

    border: 2px dotted #f4ce14;
    border-radius: 15px;
  }

  .width_text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
  }

  @media only screen and (width <= 640px) {
    display: none;
  }
}

#width,
#height {
  width: 50px;
  height: 50px;

  font-size: 32px;
  color: #eee;
  text-align: center;

  background: linear-gradient(145deg, #202939, #253043);
  border: none;
  border-radius: 15px;
  box-shadow:
    20px 20px 60px #1e2636,
    -20px -20px 60px #283448;

  &:hover {
    border: 2px dotted #b931fc;
  }
}

#sumbit {
  display: inline-block;

  min-width: 100px;
  min-height: 40px;
  padding: 10px 15px;

  font-size: 16px;
  text-align: center;

  background-color: #b931fc;
  border-radius: 20px;
  box-shadow: 0 4px 2px rgb(4 4 4);

  &:hover {
    cursor: pointer;
    transform: translateY(0.5px);
    opacity: 0.8;
    box-shadow: 0 3.5px 1.5px rgb(4 4 4);
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 0.5px 0.5px rgb(4 4 4);
  }
}
